[Unit]
Description=Gunicorn
After=network.target

[Service]
User=mergin
Group=mergin
WorkingDirectory=/home/mergin/mergin-maps/server
EnvironmentFile=/etc/conf.d/gunicorn
ExecStart=/home/mergin/.local/bin/pipenv run gunicorn --config config.py --bind 0.0.0.0:8000 application:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
